@model tomates_podridos.Models.Pelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
 
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calCritica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calCritica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calAudiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calAudiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.plataformas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.plataformas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.synopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.synopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clasificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clasificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipoDir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipoDir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actores)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
