@model tomates_podridos.Models.Show

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>




<div>
    <div>
        <h4>Pelicula</h4>
        <hr />
        <dl class="row">
            <div class="col-md-4">
                <div class="img_total">
                    <img src=@Html.DisplayFor(model => model.img)>

                </div>
            </div>
            <div class="col-md-8">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.calCritica)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.calCritica)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.calAudiencia)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.calAudiencia)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.plataformas)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.plataformas)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.produccion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.produccion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.fecha)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.fecha)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.actores)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.actores)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.genero)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.genero)
                </dd>

            </div>
    </div>
    </dl>
</div>


<h4>comentarios audiencia</h4>
<dl class="row">
    @foreach (List<string> data in ViewBag.audiencia)
    {

        <dt class="col-sm-2">
            @data[0]
        </dt>
        <dd class="col-sm-10">
            @data[1]
        </dd>

    }

</dl>

<h4>comentarios critica</h4>
<dl class="row">
    @foreach (List<string> data in ViewBag.critica)
    {

        <dt class="col-sm-2">
            @data[0]
        </dt>
        <dd class="col-sm-10">
            @data[1]
        </dd>

    }

</dl>

</div>

<style>
    .img_total {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }

</style>










